<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <h3>Ödevler</h3>
      <button class="btn btn-outline-primary" (click)="Ekle(modalEkleDuzenle)">Ödev Ekle</button>
      <table class="table table-hover mt-3">
        <thead>
          <th>Ödev Adı</th>
          <th>Ödev İçeriği</th>
          <th>Ödev Sahibi</th>
          <th>Kayıt Tarihi</th>
          <th>Düzenleme Tarihi</th>
          <th>Düzenle</th>
          <th>Sil</th>
        </thead>
        <tbody>
          <tr *ngFor="let odev of odevler">
            <td>{{odev.adi}}</td>
            <td>{{odev.icerigi}}</td>
            <td>{{odev.uyeAdi}}</td>
            <td>{{odev.kaytarih | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td>{{odev.duztarih | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td><button class="btn btn-outline-warning" (click)="Duzenle(odev,modalEkleDuzenle)"
                [disabled]="fbService.admin==true">Düzenle</button></td>
            <td><button class="btn btn-outline-danger" (click)="Sil(odev,modalSil)"
                [disabled]="fbService.admin==true">Sil</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" #modalEkleDuzenle>
  <div class="modal-dialog">
    <form [formGroup]="frm" (ngSubmit)="OdevEkleDuzenle()">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">{{modalBaslik}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>Ödev Adı</label>
            <input type="text" class="form-control" formControlName="adi">
            <label>Ödev İçeriği</label>
            <input type="text" class="form-control" formControlName="icerigi">
            <input type="hidden" class="form-control" formControlName="id">
            <input type="hidden" class="form-control" formControlName="kaytarih">
            <input type="hidden" class="form-control" formControlName="duztarih">
          </div>

        </div>
        <div class="modal-footer">

          <input type="submit" class="btn btn-outline-primary" value="Kaydet">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal" tabindex="-1" #modalSil>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">{{modalBaslik}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 *ngIf="secOdev">{{secOdev.adi}} adlı Ödev Silinecektir Onaylıyor musunuz?</h6>
      </div>
      <div class="modal-footer">

        <button class="btn btn-outline-danger" *ngIf="secOdev" (click)="OdevSil()">Sil</button>
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>

  </div>
</div>
